@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@theme {
  --font-jakarta: "jakarta", sans;

  --color-primary-lime: hsl(61, 70%, 52%);
  --color-lime-hover: #e3e56d;
  --color-primary-red: hsl(4, 69%, 50%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);
  --color-accent-dark: #000000;
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.white") inset !important;
    -webkit-text-fill-color: inherit !important;
  }
}
